[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/alschmiedt
[access "refs/for/refs/*"]
	read = group user/alschmiedt
	push = group user/alschmiedt
	label-Code-Review = -2..+2 group user/alschmiedt
	label-Verified = -1..+1 group user/alschmiedt
	rebase = group user/alschmiedt
	removeReviewer = group user/alschmiedt
	submit = group user/alschmiedt
[access "refs/heads/*"]
	read = group user/alschmiedt
	create = group user/alschmiedt
	push = +force group user/alschmiedt
	pushMerge = group user/alschmiedt
[access "refs/tags/*"]
	push = group user/alschmiedt
	push = +force group user/alschmiedt
